<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Home Page {% endblock %}</title>
  </head>
  <body>
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {% if user.is_authenticated %}
      <li><a href="/logout">Logout</a></li>
      {% else %}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      {% endif %}
      <li><a href="/list">List Products</a></li>
      {% if user.is_authenticated and user.user_type != "customer" %}
      <li><a href="/create">Create Product</a></li>
      <li><a href="/update">Update Product</a></li>
      <li><a href="/delete">Delete Product</a></li>
      {% endif %}
    </ul>
    </nav>
    {% block content %} 
    <h1>Welcome to the Inventory Management System</h1>
    {% if user.is_authenticated %}
      <p>Hello {{ user.user_name }}. You are logged in.</p>
    {% else %}
      <p>You are not logged in. Please log in or register.</p>
    {% endif %}
    {% endblock content %}
    {{ extraContent|default_if_none:"" }}
    
  </body>
</html>
